@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Playfair Display', sans-serif;
    height: auto;
    background: #F3EFDD; 
    letter-spacing: 1px;
}

/**
* TODO: ESTILOS DEL HEADER
*/

header {
    height: 100vh;
    width: 100vw;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    position: relative;
}

.navbar {
    position: fixed;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.navbar a {
    color: white;
    transition: .3s linear;
}

.navbar a:hover {
    color: #8E6A4F;
}

.navbar .logo {
    width: 200px;
    height: 135px;
    margin-top: -25px;
}

.navbar .logo:hover {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
    transition: all .3s;
    padding: 10px 0;
}

.navbar .nav-links ul li:hover {
    transform: scale(1.2);
}

#reserve {
    border: 2px solid white;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.abajo {
    transition: .5s ease-in-out;
    background: #cbd0c4d4;
    padding: 20px;
    z-index: 1000;
}

.abajo .nav-links ul li a {
    color: white;
}

.abajo .nav-links ul li a::after {
    content: "";
    height: 2px;
    width: 0;
    background-color: #c19d82;
    display: block;
    transition: all .3s;
}

.abajo .nav-links ul li a:hover::after {
    width: 100%;
}

.abajo #logo {
    width: 150px;
    height: 100px;
    margin: 0;
    margin-left: 20px;
}

.abajo .nav-links ul li a {
    color: white;
    transition: .2s;
}

.abajo .nav-links ul li a:hover {
    color: #8E6A4F;
}

.navbar .nav-links ul li.active a {
    font-weight: 600;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 50px;
    right: 30px;
    width: 35px;
}

/**
* TODO: ESTILOS DEL BODY 
*/

.general {
    height: auto;
}

.nombre-restaurante {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    transition: .5s ease-in-out;
}

.nombre-restaurante:hover {
    background: #c19d82;
    color: white;
}

.seccion1 {
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.seccion1 .seccion-column1 {
    height: auto;
    width: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#img1, #img2, #img3 {
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
}

#img1:hover, #img2:hover, #img3:hover {
    transform: scale(1.1);
}

.seccion1 .seccion-column2 {
    height: auto;
   /* background: #B1B5B5;*/
    /*background: #C8BFB6; */
    background: #bcac9c;
    width: 40%;
    padding: 80px 100px;
    overflow: auto;
    color: white;
}

#historia-fundacion {
    max-height: 500px;
    overflow: auto;
}

#historia-fundacion h2 {
    text-align: center;
}

.seccion1 .seccion-column2 h2 {
    margin-bottom: 20px;
    letter-spacing: 3px;
    font-size: 20px;
}

.seccion1 .seccion-column2 P {
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
}

.seccion-column3 {
   /* background-image: url(https://www.peninsula.com/-/media/08---paris/offers-2023/loiseaublancthepeninsulapariscfloriandomergue2022.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    width: 100%;
    display: none;
}


/** 
* TODO: ESTILOS DEL FOOTER
*/

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background: #B1B5B5;
    padding: 70px 0;
    font-family: 'Nunito', sans-serif;
    z-index: 10;
}

.footer-col {
    width: 20%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    font-family: 'Playfair Display', sans-serif;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.fa-facebook-f:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #00aced;
}

.fa-youtube:hover {
    color: #FF0000;
}

.fa-pinterest:hover {
    color: #E60023;
}

.fa-instagram:hover {
    color: #bc2a8d;
}

.fa-google:hover {
    color: #dd4b39;
}

.footer-col .logo-footer {
    width: 250px;
    height: 200px;
    margin-top: -20px;
}

.footer-bottom {
    background: #0D0D0D;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-bottom a {
    color: #fff;
    font-size: 14px;
    margin-left: 20px;
    text-decoration: none;
}

.first-box {
    margin: 5px auto;
}

/**
* ? USO DE MEDIAQUERIES
*/

@media screen and (max-width: 900px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    .navbar {
        padding: 0;
    }

    .abajo {
        background: rgba(255, 255, 255, 0.648);
    }

    .abajo .nav-links ul li a {
        color: black;
    }

    .abajo .logo {
        display: none;
    }

    .navbar .logo {
        position: absolute;
        top: 50px;
        left: 20px;
        width: 150px;
        height: 100px;
    }

    .navbar .menu-hamburger {
        display: block;
        cursor: pointer;
    }

    .menu-hamburger {
        display: flex;
        flex-direction: column;
        width: 3rem;
        height: 3rem;
        border: 0;
        background: transparent;
    }

    /**
    * ? NO PUDE QUE LA ANIMACIÓN DE LA X SE HICIERA AL CLICKEAR Y NO AL HOVER
    */

    .menu-hamburger>div {
        background: rgb(255, 255, 255);
        height: 2px;
        width: 100%;
        border-radius: 5px;
        transition: all .5s;
        transform-origin: right;
        margin: 10px 0;
    }

    .menu-hamburger:hover div:first-child {
        transform: rotate(-45deg);
    }

    .menu-hamburger:hover div:nth-child(2) {
        opacity: 0;
    }

    .menu-hamburger:hover div:last-child {
        transform: rotate(45deg);
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(225, 225, 225, 0.20);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }

    .seccion1 .seccion-column1 {
        width: 100%;
        height: 300px;
    }
    
    .seccion1 .seccion-column2 {
        width: 100%;
        padding: 50px 50px;
    }

    #img2 {
        display: none;
    }

    #foto-delete {
        display: none;
    }

    #historia-fundacion {
        margin-top: -50px;
    }

    #img3 {
        height: 250px;
    }

    .seccion-column3 {
        display: block;
        background-image: url(../img/imagen2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
    }

}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}