@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Playfair Display', sans-serif;
    height: auto;
    background: #bcac9c;
}

/**
* TODO: ESTILOS DEL HEADER
*/

header {
    height: 100px;
    width: 100vw;
    position: relative;
}

.navbar {
    position: fixed;
    background: #cbd0c4d4;
    padding: 20px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
}

.navbar a {
    color: white;
    transition: .3s linear;
}

.navbar a:hover {
    color: #8E6A4F;
}

.navbar .logo {
    width: 150px;
    height: 100px;
    margin: 0;
    margin-left: 20px;
}

.navbar .logo:hover {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
    transition: all .3s;
    padding: 10px 0;
}

.navbar .nav-links ul li:hover {
    transform: scale(1.2);
}

.navbar .nav-links ul li a::after {
    content: "";
    height: 2px;
    width: 0;
    background-color: #c19d82;
    display: block;
    transition: all .3s;
}

.navbar .nav-links ul li a:hover::after {
    width: 100%;
}

#reserve {
    border: 2px solid white;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.navbar .nav-links ul li a {
    color: white;
    transition: .2s;
}

.navbar .nav-links ul li a:hover {
    color: #8E6A4F;
}

.navbar .nav-links ul li.active a {
    font-weight: 600;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 50px;
    right: 30px;
    width: 35px;
}

/**
* TODO: ESTILOS DEL BODY 
*/
.general {
    display: grid;
    place-items: center;
    height: auto;
    border: 0;
}

/*
* ESTILO BANNER PRINCIPAL
*/
.ban-principal {
    border: 0 solid black;
    width: 100%;
    height: 40vw;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, hsla(77, 28%, 72%, 0.438), #98989cab, #a5a5adab), url(../img/img-banner-prin3.jpg);
    background: linear-gradient(to right, hsla(77, 28%, 72%, 0.438), #98989cab, #a5a5adab), url(../img/img-banner-prin3.jpg);
    background-size: cover;
    background-attachment: inherit;;
}
.ban-principal div h1{
    color: #D4AF37;
}
.ban-principal div {
    background-color: #0d0d0d79;
    border: 0 solid black;
    color: white;
    margin-left: 10%;
    margin-top: 9%;
    width: 300px;
    height: 300px;
    text-align: center;
    padding: 50px;
}
.ban-principal hr {
    width: 200px;
}
.ban-principal p{
    margin: 5px;
}
.ban-principal a{
    color: white;
    transition: .3s linear;
}
.ban-principal a:hover{
    color: #8E6A4F;
}

/*
* ESTILO PLATILLOS-ENTRADAS, PLATO-FUERTE Y POSTRE
*/
.img-mobile{
    display: none   ;
}
.ban-entradas {
    margin-top: 20px;
    display: grid;
    place-items: center;
    border: 0 solid black;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, hsla(77, 28%, 72%, 0.438), #98989cab, #a5a5adab), url(../img/bodyBanner.webp);
    background: linear-gradient(to right, hsla(77, 28%, 72%, 0.438), #98989cab, #a5a5adab), url(../img/bodyBanner.webp);
    background-size: cover;
    background-attachment: inherit;
    color: rgb(255, 255, 255);
    font-size: 60px;
    width: 100%;
    height: 140px;
}

.entrada-derecha {
    border: 0 solid black;
    width: 100%;
}

.entrada-derecha img {
    float: left;
    width: 50%;
    height: 700px;
}

.entrada-derecha h1 {
    margin: 15px;
    font-size: 20px;
    color: white;   
    letter-spacing: 2px;
}
.entrada-derecha p{
    color: white;
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    text-align: left;
}

.entrada1-1{
    width: 50%;
    float: right;
    padding: 50px;
    border: 0 solid black;
    height: 700px;
}
.entrada1-1 p {
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
}
.entrada-izquierda{
    border: 0 solid black;
    width: 100%;
    font-size: 20px;
    color: white;   
    letter-spacing: 2px;
}
.entrada-izquierda img{
    float: right;
    width: 50%;
    height: 700px;
}
.entrada-izquierda h1{
    margin: 15px;
    font-size: 20px;
    color: white;   
    letter-spacing: 2px;
}
.entrada2-1{
    float: left;
    width: 50%;
    padding: 50px;
    border: 0 solid black;
    height: 700px;
}
 .entrada2-1 p {
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
}
.reserva{
    display: grid;
    width: 100%;
    height: 70px;
    background-color: #cbd0c4d1;
    justify-content: center;
    place-items: center;
}
.reserva a{
    text-shadow: 2px 4px 3px rgb(146, 144, 144);
    color: white;
    text-decoration: none;
    font-size: 30px;
    transition: 0.5s;
}
.reserva a:hover{
    color: #8E6A4F;
    transition: 0.5s;
}
/** 
* TODO: ESTILOS DEL FOOTER
*/

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background: #92A8AD;
    padding: 70px 0;
    font-family: 'Nunito', sans-serif;
    z-index: 10;
}

.footer-col {
    width: 20%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.fa-facebook-f:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #00aced;
}

.fa-youtube:hover {
    color: #FF0000;
}

.fa-pinterest:hover {
    color: #E60023;
}

.fa-instagram:hover {
    color: #bc2a8d;
}

.fa-google:hover {
    color: #dd4b39;
}

.footer-col .logo-footer {
    width: 250px;
    height: 200px;
    margin-top: -20px;
}

.footer-bottom {
    background: #0D0D0D;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-bottom a {
    color: #fff;
    font-size: 14px;
    margin-left: 20px;
    text-decoration: none;
}

.first-box {
    margin: 5px auto;
}

/**
* ? USO DE MEDIAQUERIES
*/

@media screen and (max-width: 900px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    .navbar {
        background: rgba(255, 255, 255, 0);
        padding: 0;
    }

    .navbar .logo {
        display: none;
        position: absolute;
        top: 50px;
        left: 20px;
        width: 100px;
        height: 50px;
    }

    .navbar .menu-hamburger {
        display: block;
        cursor: pointer;
    }

    .menu-hamburger {
        display: flex;
        flex-direction: column;
        width: 3rem;
        height: 3rem;
        border: 0;
        background: transparent;
    }

    /**
    * ? NO PUDE QUE LA ANIMACIÓN DE LA X SE HICIERA AL CLICKEAR Y NO AL HOVER
    */
    .general{
        margin-top: px;
    }
    .menu-hamburger>div {
        background: rgb(255, 255, 255);
        height: 2px;
        width: 100%;
        border-radius: 5px;
        transition: all .5s;
        transform-origin: right;
        margin: 10px 0;
    }

    .menu-hamburger:hover div:first-child {
        transform: rotate(-45deg);
    }

    .menu-hamburger:hover div:nth-child(2) {
        opacity: 0;
    }

    .menu-hamburger:hover div:last-child {
        transform: rotate(45deg);
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(225, 225, 225, 0.20);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }
    /*CONTENIDO MENÚ MOBILE*/
    header{
        padding: 0;
        height: 0;
    }
    .ban-principal{
        height: 250px;
    }
    .ban-principal p{
        display: none;
    }
    .ban-principal div{
        padding-top: 110px;
        display: grid;
        place-items: center;
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        height: 250px;
    }
    .ban-entradas{
        height: 90px;
        font-size: 30px;
    }
    .entrada-derecha img{
        width: 100%;
        height: 350px;
    }
    .entrada-izquierda img{
       display: none;
    }
    .img-mobile{
        display: block;
    }
    .img-mobile img{
        width:  100%;
        height: 350px;
    }
    .entrada1-1{
        width: 100%;
    }
    .entrada2-1{
        width: 100%;
        height: auto;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}